/* Loader Container */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust height to fit your layout */
  }
  
  /* Dot Loader */
  .dot-loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dot-loader span {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #3498db;
    border-radius: 50%;
    display: inline-block;
    animation: bounce 1.5s infinite ease-in-out;
  }
  
  /* Delay each dot for smooth animation */
  .dot-loader span:nth-child(1) {
    animation-delay: 0s;
    background-color: rgb(255, 0, 0);
}
.dot-loader span:nth-child(2) {
    animation-delay: 0.2s;
    background-color: rgb(255, 0, 0);
  }
  .dot-loader span:nth-child(3) {
    animation-delay: 0.4s;
    background-color: rgb(255, 0, 0);
  }
  
  /* Dot Bouncing Animation */
  @keyframes bounce {
    0%, 80%, 100% {
      transform: scale(0);
      opacity: 0.3;
    }
    40% {
      transform: scale(1);
      opacity: 1;
    }
  }
  